@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    background: url(../countdown-timer/assets/adam-chang-IWenq-4JHqo-unsplash.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    margin: 0;
}

h1 {

    font-weight: normal;
    font-size: 4rem;
}

.countdown-container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text {

    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {

    text-align: center;
}

.countdown-el span {

    font-size: 1.3rem;
}